body{
    margin: 10px;
    padding: 20px;
}

.card{
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: white;
}

#formTodo{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;

}

h3{
    text-align: center;
    color: white;
}

#btnTambahTodo{
    background-color: rgba(255, 0, 221, 0.597);
    border: none;
    color: white;
}